# Ignore all Markdown files...
*.md

# ...except README.md (case-insensitive)
!README.md
!readme.md

# Ignore .cursorrules file
.cursorrules

# Ignore JetBrains IDE config
.idea/

.DS_Store

gitpush.sh

wandb/

checkpoints/

logs/

results/

saved_results/

dataset/

__pycache__/
*.py[cod]
/dataset/
